body {
    background-color: #2c3e50;
}

.navbar {
    background: #1c2731;
}

.profileScreen {
    object-fit: contain;
    position: sticky;
    color: whitesmoke;
}

.profileScreen__details {
    margin-left: 10%;
    margin-right: auto;
}

.profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 5%;
    margin-right: auto;
    padding-top: 2%;
    max-width: 800px;
}

.profileScreen__body>h1 {
    font-size: 30px;
    font-weight: 300;
    border-bottom: 2px solid #1f1f1f;
}

.profileScreen__info {
    margin-top: 5%;
    display: flex;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__info>img {
    height: 150px;
    border-radius: 100%;
}

.profileScreen__details>h2 {
    padding: 20px 30px;
    position: sticky;
    font-variant: normal;
    font-style: italic;
    font-family: American Typewriter;
    background-color: #1f1e1e;
    display: flex;
    border-radius: 50%;
}

.profileScreen__plans>h3 {
    font-variant: small-caps;
    padding-bottom: 10px;
    border-bottom: 2px solid #1f1f1f;
}

.profileScreen__plans>p {
    font-family: Arial, sans-serif;
    margin-top: 1%;
}


.profileScreen__types {
    margin-top: 5%;
    border-color: aqua;
    cursor: pointer;
    width: 120%;
}

.profileScreen__membership>h {
    font-family: Arial, sans-serif;
    font-size: small;
    margin-left: 1%;
    color: #cee2ce;
    cursor: pointer;
}

.profileScreen__membership>p {
    font-family: Arial, sans-serif;
    margin-left: 60%;
    margin-top: -8%;
    font-size: small;
    color: red;
    cursor: pointer;
    width: 100%;
}

.profileScreen__signOut {
    border: none;
    font-variant: small-caps;
    padding: 20px 30px;
    font-size: 1rem;
    margin-top: 5%;
    margin-left: 10%;
    width: 100%;
    color: aqua;
    cursor: pointer;
    background-color: #d74949;
    border-radius: 50%;
}